{% extends 'stumanage/base.html' %}

{% block search %}
{% endblock %}

{% block main %}
<form class="navbar-form" action="{% url 'stumanage:index' %}">  <!-- 这里只涉及到查询,用GET就可以 -->
{% csrf_token %}
  <fieldset>
    <legend>高级检索</legend>
    <label>姓名:</label>
    <input type="text" name="name" placeholder="学生信息" class="form-control"><br><br>
    <label>年龄:</label>
    <input type="text" name="age" placeholder="学生信息" class="form-control"><br><br>
    <label>成绩:</label>
    <input type="text" name="score" placeholder="学生信息" class="form-control"><br><br>
    <label>电话:</label>
    <input type="text" name="tel" placeholder="学生信息" class="form-control"><br><br>
    <label>邮箱:</label>
    <input type="text" name="email" placeholder="学生信息" class="form-control"><br><br>
    <button type="submit" class="btn btn-primary">检索</button>
  </fieldset>
</form>
{% endblock %}





